@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}

.hide {
    animation-name: hide;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}


@keyframes appear {
    from {
        background-color: #F5F5F5;
    }

    to {
        background-color: #0095F4;
    }
}

.active {
    animation-name: appear;
    animation-duration: 800ms;
    animation-fill-mode: backwards; 
}

@keyframes sizeM{
    from {
        height: 0;
        width: 0;
    }

    to {
        height: 1;
        width: 1;
    }
}


.product-unit {
    animation-name: sizeM;
    animation-duration: 800ms;
    animation-fill-mode: backwards; 
}


@keyframes up1{
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.up {
    animation-name: up1;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}


@keyframes down1{
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

.down {
    animation-name: down1;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}

@keyframes width{
    from {
        width: 0;
    }

    to {
        width: 1;
    }
}

.width {
    animation-name: width;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}

@keyframes border{
    from {
        border-bottom: solid 0px transparent;
    }

    to {
        border-bottom: solid 5px #0196f4;
    }
}

.border {
    animation-name: border;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}


@keyframes left{
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.left {
    animation-name: left;
    animation-duration: 600ms;
    animation-fill-mode: backwards; 
}